


<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>NSLS-II DAMA Ansible Playbooks &mdash; NSLS-II Software Documentation  documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/gallery.css" type="text/css" />
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Releasing Software" href="../deployment/releasing-software.html" />
    <link rel="prev" title="Conda" href="conda.html" /> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> NSLS-II Software Documentation
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../architecture-overview.html">Event-Based Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cookbook/index.html">Cookbook (Examples)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../remote-access.html">Remote Access</a></li>
<li class="toctree-l1"><a class="reference internal" href="../sandbox.html">Sandbox</a></li>
<li class="toctree-l1"><a class="reference internal" href="../history.html">History of Changes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../conda.html">Software Deployment with Conda</a></li>
<li class="toctree-l1"><a class="reference internal" href="../fresh-installation.html">Installation at a Beamline</a></li>
<li class="toctree-l1"><a class="reference internal" href="../resources.html">Recommended Resources</a></li>
<li class="toctree-l1"><a class="reference internal" href="../internal_index.html">Internal Notes</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../deployment_docs.html">NSLS-II Deployment Documentation</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../deployment_docs.html#components">Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="conda.html">Conda</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">NSLS-II DAMA Ansible Playbooks</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#getting-started">Getting Started</a></li>
<li class="toctree-l4"><a class="reference internal" href="#organization">Organization</a></li>
<li class="toctree-l4"><a class="reference internal" href="#deploying">Deploying</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../deployment_docs.html#deployment-procedures">Deployment Procedures</a></li>
<li class="toctree-l2"><a class="reference internal" href="../deployment_docs.html#incident-reports">Incident Reports</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../meetings/index.html">Meetings</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Collection</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/bluesky">bluesky</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/ophyd">ophyd</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/caproto">caproto</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Access and Management</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/databroker">databroker</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/suitcase">suitcase</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Analysis</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="http://scikit-beam.github.io/scikit-beam">scikit-beam</a></li>
</ul>
<p class="caption"><span class="caption-text">GitHub Links</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/">NSLS-II Repositories</a></li>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/wishlist/issues">Wish List</a></li>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/Bug-Reports/issues">Bug Reports</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">NSLS-II Software Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../deployment_docs.html">NSLS-II Deployment Documentation</a> &raquo;</li>
        
      <li>NSLS-II DAMA Ansible Playbooks</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/ansible-setup.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="nsls-ii-dama-ansible-playbooks">
<h1>NSLS-II DAMA Ansible Playbooks<a class="headerlink" href="#nsls-ii-dama-ansible-playbooks" title="Permalink to this headline">¶</a></h1>
<p>Historical Note: This repository began as a fork of
jupyterhub/jupyterhub-deploy-teaching. It has grown from JupyterHub playbook to
a general collection of playbooks for DAMA.</p>
<div class="section" id="getting-started">
<h2>Getting Started<a class="headerlink" href="#getting-started" title="Permalink to this headline">¶</a></h2>
<p>These playbooks use your local SSH configuration (see
<a class="reference external" href="https://docs.ansible.com/ansible/latest/faq.html#how-do-i-get-ansible-to-reuse-connections-enable-kerberized-ssh-or-have-ansible-pay-attention-to-my-local-ssh-config-file">https://docs.ansible.com/ansible/latest/faq.html#how-do-i-get-ansible-to-reuse-connections-enable-kerberized-ssh-or-have-ansible-pay-attention-to-my-local-ssh-config-file</a>
for more info) to hop into the BNL network and then into the NSLS-II controls
network. Your <code class="docutils literal notranslate"><span class="pre">~/.ssh/config</span></code> must include a host named <code class="docutils literal notranslate"><span class="pre">ossh</span></code>
(“outer ssh”) configured like this or similar:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>Host bnl
    HostName ssh.bnl.gov
    ForwardAgent yes

Host ossh
     ForwardAgent yes
     ProxyCommand ssh -q bnl nc ssh.nsls2.bnl.gov <span class="m">22</span>
</pre></div>
</div>
<p>If instead you are connecting to the NSLS-II controls network after VPNing into
the BNL network then your <code class="docutils literal notranslate"><span class="pre">~/.ssh/config</span></code> must include a host named <code class="docutils literal notranslate"><span class="pre">issh</span></code>
(“inner ssh”) configured like this or similar:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>Host issh
     HostName ssh.nsls2.bnl.gov
     user awalter
     ForwardAgent yes
</pre></div>
</div>
<p>It is recommended, but not required, that you include both. It is also necesary
to update <code class="docutils literal notranslate"><span class="pre">playbooks/group_vars/all</span></code> from:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible_ssh_common_args: <span class="s1">&#39;-o ProxyCommand=&quot;ssh -W %h:%p -q ossh&quot;&#39;</span>
</pre></div>
</div>
<p>to:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible_ssh_common_args: <span class="s1">&#39;-o ProxyCommand=&quot;ssh -W %h:%p -q issh&quot;&#39;</span>
</pre></div>
</div>
<p>The inventory variables include some encrypted variables, using ansible-vault.
To use any of these playbooks, you will need the vault password, which is stored
in LastPass. As of this writing, Stuart Campbell, Thomas Caswell, and Daniel
Allan have access to it. Stash the password in file named
<code class="docutils literal notranslate"><span class="pre">vault_password_file</span></code> in the root directory of this repository.</p>
<p>You will also need sudo access on the hosts you want to change if that change
requires privilege escalation.</p>
</div>
<div class="section" id="organization">
<h2>Organization<a class="headerlink" href="#organization" title="Permalink to this headline">¶</a></h2>
<div class="section" id="inventories">
<h3>Inventories<a class="headerlink" href="#inventories" title="Permalink to this headline">¶</a></h3>
<p>There are two inventories: staging and production. Currently, the only
staging host is jupyterdev, for testing JupyterHub deployments. There is no
staging host for beamline deployments, but there should be.</p>
</div>
<div class="section" id="playbooks">
<h3>Playbooks<a class="headerlink" href="#playbooks" title="Permalink to this headline">¶</a></h3>
<p>As suggested by Ansible best practices(docs.ansible.com/ansible/latest/playbooks_best_practices.html),
there is one playbook per “kind” of machine we deploy to: <code class="docutils literal notranslate"><span class="pre">jupyterhub.yml</span></code> and
<code class="docutils literal notranslate"><span class="pre">beamlines.yml</span></code>.</p>
</div>
</div>
<div class="section" id="deploying">
<h2>Deploying<a class="headerlink" href="#deploying" title="Permalink to this headline">¶</a></h2>
<div class="section" id="a-simple-ping-test-to-get-started">
<h3>A Simple Ping Test to Get Started<a class="headerlink" href="#a-simple-ping-test-to-get-started" title="Permalink to this headline">¶</a></h3>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible -i production beamlines -m ping
</pre></div>
</div>
<p>where <code class="docutils literal notranslate"><span class="pre">production</span></code> refer to an inventory file in this repository,
<code class="docutils literal notranslate"><span class="pre">beamlines</span></code> is a group of hosts in that inventory, and <code class="docutils literal notranslate"><span class="pre">ping</span></code> is a built-in
Ansible module.</p>
</div>
<div class="section" id="jupyterhub">
<h3>JupyterHub<a class="headerlink" href="#jupyterhub" title="Permalink to this headline">¶</a></h3>
<p>The JupyterHub playbook configures a machine to run the JupyterHub process
and single-user notebook server processes.</p>
<p>Deploy it to the staging inventory first, which updates
<a class="reference external" href="https://notedev.nsls2.bnl.gov">https://notedev.nsls2.bnl.gov</a>.</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i staging jupyterhub.yml -bkK
</pre></div>
</div>
<p>If all works as expected, update <a class="reference external" href="https://notebook.nsls2.bnl.gov">https://notebook.nsls2.bnl.gov</a>:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i production jupyterhub.yml -bkK
</pre></div>
</div>
</div>
<div class="section" id="beamlines">
<h3>Beamlines<a class="headerlink" href="#beamlines" title="Permalink to this headline">¶</a></h3>
<p>The Beamlines playbook installs databroker configuration files and creates
conda environments based on environment files.</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i production beamlines.yml -bkK
</pre></div>
</div>
</div>
<div class="section" id="changing-default-environments">
<h3>Changing default environments<a class="headerlink" href="#changing-default-environments" title="Permalink to this headline">¶</a></h3>
<p>This should only be used in a targeted way, one beamline at a time.</p>
<p>Update the <code class="docutils literal notranslate"><span class="pre">current_env_tag</span></code> under the beamline in question in <code class="docutils literal notranslate"><span class="pre">production</span></code>
(location in the root of the repo).</p>
<p>Use <code class="docutils literal notranslate"><span class="pre">--limit=XXX</span></code> to target the playbook to the servers on one beamline, where
<code class="docutils literal notranslate"><span class="pre">XXX</span></code> may be for example <code class="docutils literal notranslate"><span class="pre">04-ID</span></code>.</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i production update_default_vars.yml --limit<span class="o">=</span>XXX -bkK
</pre></div>
</div>
<div class="section" id="where-to-make-changes">
<h4>Where to Make Changes<a class="headerlink" href="#where-to-make-changes" title="Permalink to this headline">¶</a></h4>
</div>
</div>
<div class="section" id="updating-conda">
<h3>Updating conda<a class="headerlink" href="#updating-conda" title="Permalink to this headline">¶</a></h3>
<p>Note that <cite>conda update -n root conda</cite> is not always sufficient because the root
environment way have an old version of Python no longer supported by conda.
Instead, use <cite>conda install -n root python=3.6 conda`</cite>. (I use <code class="docutils literal notranslate"><span class="pre">python=3.6</span></code>,
the latest version as of this writing, but that should be updated the latest stable
Python.)</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible -i production beamlines -a <span class="s2">&quot;/opt/conda/bin/conda install -n root python=3.6 conda&quot;</span> -bkK
</pre></div>
</div>
</div>
<div class="section" id="new-hosts">
<h3>New hosts<a class="headerlink" href="#new-hosts" title="Permalink to this headline">¶</a></h3>
<p>Edit <code class="docutils literal notranslate"><span class="pre">production</span></code>.</p>
</div>
<div class="section" id="new-databroker-configuration">
<h3>New databroker configuration<a class="headerlink" href="#new-databroker-configuration" title="Permalink to this headline">¶</a></h3>
<p>Add a file to <code class="docutils literal notranslate"><span class="pre">roles/databroker_config/files/</span></code> and deploy the beamline
playbook.</p>
</div>
<div class="section" id="new-environments">
<h3>New Environments<a class="headerlink" href="#new-environments" title="Permalink to this headline">¶</a></h3>
<p>Add a file to <code class="docutils literal notranslate"><span class="pre">roles/beamline_envs/files/</span></code> and deploy the beamline
playbook.</p>
</div>
<div class="section" id="new-kernels">
<h3>New kernels<a class="headerlink" href="#new-kernels" title="Permalink to this headline">¶</a></h3>
<p>Add items to the <code class="docutils literal notranslate"><span class="pre">kernelspecs</span></code> section in <code class="docutils literal notranslate"><span class="pre">group_vars/jupyterhub_hosts</span></code> and
deploy the <code class="docutils literal notranslate"><span class="pre">jupyterhub</span></code> playbook. Additional info is given in the comments in
that file.</p>
</div>
<div class="section" id="fresh-installation">
<h3>Fresh installation<a class="headerlink" href="#fresh-installation" title="Permalink to this headline">¶</a></h3>
<p>Add keys</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ssh-copy-id xf18id-ws1
ssh-copy-id xf18id-ws2
</pre></div>
</div>
<p>Run the beamlines playbook.</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i production beamlines.yml --limit<span class="o">=</span><span class="m">18</span>-ID -bkK
</pre></div>
</div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../deployment/releasing-software.html" class="btn btn-neutral float-right" title="Releasing Software" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="conda.html" class="btn btn-neutral" title="Conda" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2015 Brookhaven National Lab

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    

  

  <script type="text/javascript" src="../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>