


<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Conda &mdash; NSLS-II Software Documentation  documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/gallery.css" type="text/css" />
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="NSLS-II DAMA Ansible Playbooks" href="ansible-setup.html" />
    <link rel="prev" title="NSLS-II Deployment Documentation" href="../deployment_docs.html" /> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> NSLS-II Software Documentation
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../architecture-overview.html">Event-Based Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cookbook/index.html">Cookbook (Examples)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../remote-access.html">Remote Access</a></li>
<li class="toctree-l1"><a class="reference internal" href="../sandbox.html">Sandbox</a></li>
<li class="toctree-l1"><a class="reference internal" href="../history.html">History of Changes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../conda.html">Software Deployment with Conda</a></li>
<li class="toctree-l1"><a class="reference internal" href="../fresh-installation.html">Installation at a Beamline</a></li>
<li class="toctree-l1"><a class="reference internal" href="../resources.html">Recommended Resources</a></li>
<li class="toctree-l1"><a class="reference internal" href="../internal_index.html">Internal Notes</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../deployment_docs.html">NSLS-II Deployment Documentation</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../deployment_docs.html#components">Components</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Conda</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#conda-installation">Conda Installation</a></li>
<li class="toctree-l4"><a class="reference internal" href="#conda-server">Conda Server</a></li>
<li class="toctree-l4"><a class="reference internal" href="#conda-configuration-files">Conda Configuration Files</a></li>
<li class="toctree-l4"><a class="reference internal" href="#conda-environments">Conda Environments</a></li>
<li class="toctree-l4"><a class="reference internal" href="#conda-environment-files">Conda Environment Files</a></li>
<li class="toctree-l4"><a class="reference internal" href="#conda-metapackages">Conda Metapackages</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="ansible-setup.html">NSLS-II DAMA Ansible Playbooks</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../deployment_docs.html#deployment-procedures">Deployment Procedures</a></li>
<li class="toctree-l2"><a class="reference internal" href="../deployment_docs.html#incident-reports">Incident Reports</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../meetings/index.html">Meetings</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Collection</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/bluesky">bluesky</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/ophyd">ophyd</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/caproto">caproto</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Access and Management</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/databroker">databroker</a></li>
<li class="toctree-l1"><a class="reference external" href="https://nsls-ii.github.io/suitcase">suitcase</a></li>
</ul>
<p class="caption"><span class="caption-text">Data Analysis</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://scikit-beam.github.io/scikit-beam">scikit-beam</a></li>
</ul>
<p class="caption"><span class="caption-text">GitHub Links</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/">NSLS-II Repositories</a></li>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/wishlist/issues">Wish List</a></li>
<li class="toctree-l1"><a class="reference external" href="https://github.com/NSLS-II/Bug-Reports/issues">Bug Reports</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">NSLS-II Software Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../deployment_docs.html">NSLS-II Deployment Documentation</a> &raquo;</li>
        
      <li>Conda</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/conda.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="conda">
<h1>Conda<a class="headerlink" href="#conda" title="Permalink to this headline">¶</a></h1>
<div class="section" id="conda-installation">
<h2>Conda Installation<a class="headerlink" href="#conda-installation" title="Permalink to this headline">¶</a></h2>
<p>We use a system-wide installation of conda, which enables us to provide a
default to all users and to configure it in certain ways. Note that this is
different from how individuals usually work with conda, installing it into
their home directories (<code class="docutils literal notranslate"><span class="pre">~/miniconda3</span></code>). We strongly advise users <em>not</em> to
install conda on beamline machines, but to use the binary provided by us
at <code class="docutils literal notranslate"><span class="pre">/opt/conda/bin/conda</span></code>. We advise this as it is the best way for us to
provide useful support for conda issues.</p>
</div>
<div class="section" id="conda-server">
<h2>Conda Server<a class="headerlink" href="#conda-server" title="Permalink to this headline">¶</a></h2>
<p>We deploy our own internal conda server, akin to anaconda.org, where we
store copies of our own packages and mirrored copies of external packages. We
only ever mirror “official” packages built by Anaconda. Anything we else need,
we build ourselves.</p>
<p>We configure conda to use our internal server instead of anaconda.org. We
provide copies of our packages on anaconda.org <em>as well</em> as a convenience for
users and collaborators, but we do not use anaconda.org for any machines inside
the Controls network.</p>
</div>
<div class="section" id="conda-configuration-files">
<h2>Conda Configuration Files<a class="headerlink" href="#conda-configuration-files" title="Permalink to this headline">¶</a></h2>
<p>The system-wide installation of conda looks for its configuration file in
<code class="docutils literal notranslate"><span class="pre">/opt/conda/.condarc</span></code>. Users <em>should not</em> create their own configuration
files in <code class="docutils literal notranslate"><span class="pre">~/.condarc</span></code>; that would override the system configuration, and
conda may not work.</p>
<p>A second configuration file located at <code class="docutils literal notranslate"><span class="pre">/etc/xdg/binstar/config.yaml</span></code> tells
conda’s web client where to look for packages. Again, we aim it at our internal
conda server instead of anaconda.org.</p>
</div>
<div class="section" id="conda-environments">
<h2>Conda Environments<a class="headerlink" href="#conda-environments" title="Permalink to this headline">¶</a></h2>
<p>Conda is configured to look for packages in two places:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">/opt/conda_envs/</span></code> (system)</li>
<li><code class="docutils literal notranslate"><span class="pre">~/conda_envs</span></code> (user)</li>
</ul>
<p>The system location requires superuser privileges to change, so we use it to
store stable packages deployed and managed by us. Any user can run them, but
users are not allowed to change them. Users who want to create their own custom
conda environments can put them in the user location.</p>
</div>
<div class="section" id="conda-environment-files">
<h2>Conda Environment Files<a class="headerlink" href="#conda-environment-files" title="Permalink to this headline">¶</a></h2>
<p>An environment file fully specifies a conda environment, including the specific
versions and builds of the all the packages and the channels from which they
were obtained. For each software deployment, we create an <code class="docutils literal notranslate"><span class="pre">analysis</span></code>
environment file and <code class="docutils literal notranslate"><span class="pre">collection</span></code> environment file. We store them in version
control in the <code class="docutils literal notranslate"><span class="pre">roles/beamline_envs/files</span></code> directory of the
<a class="reference external" href="https://github.com/NSLS-II/playbooks">NSLS-II/playbooks</a> repository
(private).</p>
</div>
<div class="section" id="conda-metapackages">
<h2>Conda Metapackages<a class="headerlink" href="#conda-metapackages" title="Permalink to this headline">¶</a></h2>
<p>A <a class="reference external" href="https://conda.io/docs/glossary.html#metapackage">metapackage</a>
is a conda package that contains only a list of dependencies but not functional
code itself.</p>
<p>We maintain several metapackages:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">analysis</span></code>, which depends on libraries for data analysis (e.g.
scikit-beam), data acess (e.g. databroker) and simulation (e.g. bluesky)</li>
<li><code class="docutils literal notranslate"><span class="pre">collection</span></code>, which depends on <code class="docutils literal notranslate"><span class="pre">analysis</span></code>, so it includes a superset of
those dependencies, adding some additional ones only needed for data
acquisition (e.g. nslsii)</li>
<li>several beamline-specific packages, with names like <code class="docutils literal notranslate"><span class="pre">11-id-chx-analysis</span></code> or
<code class="docutils literal notranslate"><span class="pre">11-id-chx-collection</span></code> that depend on the general <code class="docutils literal notranslate"><span class="pre">analysis</span></code> or
<code class="docutils literal notranslate"><span class="pre">collection</span></code> package and add some beamline-specific requirements</li>
</ul>
<p>They are located in the <code class="docutils literal notranslate"><span class="pre">recipes-tag</span></code> directory of
<a class="reference external" href="https://github.com/NSLS-II/lightsource2-recipes">NSLS-II/lightsource2-recipes</a>.</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="ansible-setup.html" class="btn btn-neutral float-right" title="NSLS-II DAMA Ansible Playbooks" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../deployment_docs.html" class="btn btn-neutral" title="NSLS-II Deployment Documentation" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2015 Brookhaven National Lab

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
    

  

  <script type="text/javascript" src="../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>